

html {
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(203, 247, 248);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: darkgreen;
    margin: 0px;
    padding: 0px;

}

.game-pixels{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    border: black solid 1px;
    margin: 0px;
    padding: 0px;
}

.hover-color{
    background-color: rgb(64, 18, 230);
}

.game-options{
    background-color: burlywood;
    height: 100px;
}
